{{ if .Education }}
<div id="education" class="section">
    <div class="section__heading">
        <h2 class="section__title">
            {{ i18n "education" }}
        </h2>
    </div>
    <div class="section__content">
        {{ range .Education }}
            <div class="education__item">
                <h3 class="education__title">{{ .Course | safeHTML }}, {{ .Place | safeHTML }} ({{ .Date | safeHTML }})</h3>
                <div class="education__description">{{ .Details | safeHTML }}</div>
            </div>
        {{ end }}
    </div>
</div>
{{ end }}
