{{ if .Experience }}
<div id="experience" class="section">
    <div class="section__heading">
        <h2 class="section__title">{{ i18n "experience" }}</h2>
    </div>
    <div class="section__content">
        <div class="experience">
            {{ range .Experience }}
            {{ if .Class }}
            <div class="experience__item {{ .Class }}">
            {{ else }}
            <div class="experience__item">
            {{ end }}
                <div class="experience__header">
                    <h3 class="experience__company">
                        {{ .Employer | safeHTML }}
                    </h3>
                    <h3 class="experience__place">{{ .Place | safeHTML }}</h3>
                </div>
                <h4 class="experience__client">{{ .Client | safeHTML }}</h4>
                {{ range .Positions }}
                <div class="experience__job">
                    <div class="experience__subheader">
                        <h3 class="experience__position">
                            {{ .Title | safeHTML}}
                        </h3>
                        <h3 class="experience__date">{{ .Date | safeHTML }}</h3>
                    </div>
                    <div class="experience__info">{{ .Info | safeHTML }}</div>
                    <h5 class="experience__achievement">Achievements :</h4>
                    <ul>
                        {{ range .Details }}
                        <li class="experience__bullet">{{ . | safeHTML }}</li>
                        {{ end }}
                    </ul>
                    <div class="experience__badges">
                        <ul>
                            {{ range .Badges }}
                            <li class="experience__badge">{{ . }}</li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
                {{ end }}
            </div>
            {{ end }}
        </div>
    </div>
</div>
{{ end }}
