{{ if .Interests }}
<div class="sideSection">
    <div class="sideSection__heading">
        <h2 class="sideSection__title">{{ i18n "interests" }}</h2>
    </div>
    <div class="sideSection__content">
        <ul>
            {{ range .Interests }}
            <li class="interests__item">
                {{ . | safeHTML }}
            </li>
            {{ end }}
        </ul>
    </div>
</div>
{{ end }}
