{{ if .Languages }}
<div class="sideSection">
    <div class="sideSection__heading">
        <h2 class="sideSection__title">{{ i18n "languages" }}</h2>
    </div>
    <div class="sideSection__content">
        <ul class="language">
            {{ range .Languages }}
            <li class="language__item">
                {{ . | safeHTML }}
            </li>
            {{ end }}
        </ul>
    </div>
</div>
{{ end }}
