.contact {
    line-height: 2rem;

    &__item {
        position: relative;
        font-size: 1.20rem;

        & > i {
            background-color: $color-right-col-icon-background;
            color: $color-right-col-icon-primary;
            font-size: 1rem;
            text-align: center;
            border-radius: 50%;
            padding-top: 0.5rem;
            width: 2rem;
            height: 2rem;
            margin-right: 0.5rem;
            margin-bottom: 0.5rem;
        }
        & > span {
            @include vt-center;
        }
    }

    &__link {
        text-decoration: none;
        color: $color-dark;
    }
}