.experience {
    &__extra_padding {
        padding-top: 4rem !important;
    }

    &__item {
        display: block;
        position: relative;
        @include avoid-break;
        &:not(:first-child) {
            padding-top: 0rem;
        }
        margin-bottom: 10px;
        margin-top: 10px;

        &::before {
            content: "";
            height: 90%;
            width: 1.5px;
            position: absolute;
            background: linear-gradient($color-page-background, rgba(255, 255, 255, 0));
            //background: linear-gradient(blue, red);
            margin-top: 25px;
        }
    }

    &__header,
    &__subheader {
        display: flex;
        width: 100%;
        height: 2.4rem;
    }

    &__job {
        position: relative;
        transition: transform 0.2s cubic-bezier($cubic);
        margin-bottom: 2rem;

        &:hover {
            transform: translateX(0.5rem);
        }
    }

    &__company,
    &__position {
        text-align: left;
        width: 70%;
        float: left;
    }

    &__company {
        color: $color-dark;
    }

    &__position {
        font-size: 1.2rem;
        color: $color-dark;
        margin-left: 1rem;
    }

    &__date,
    &__place {
        font-size: 1.2rem;
        float: right;
        text-align: right;
        width: 30%;
        color: $color-secondary;
    }

    &__client {
        font-size: 1.2rem;
        font-style: italic;
        color: $color-icon-background;
        margin-left: 1rem;
        margin-bottom: 0.8rem;
    }

    &__date {
        font-weight: 500;
    }

    &__place {
        &::before {
            font-family: 'Material Icons';
            color: $color-icon-background;
            font-size: 1.6rem;
            content: 'place';
            display: inline-block;
            padding-right: 3px;
            vertical-align: middle;
            font-weight: 900;
        }
    }

    &__info {
        font-size: 1.15rem;
        margin-left: 1rem;
        margin-bottom: 0.8rem;
    }

    &__achievement {
        font-size: 1.15rem;
        color: $color-icon-background;
        margin-left: 1rem;
        margin-bottom: 0.2rem;
    }

    &__bullet {
        list-style: square inside;
        font-size: 1.15rem;
        margin-left: 1rem;
    }

    &__badges {
        display: block;
        text-align: right;
        margin-top: 0.5rem;
        margin-bottom: 0rem;
    }

    &__badge {
        font-size: 1rem;
        font-weight: 650;
        display: inline-block;
        background-color: $color-icon-background;
        color: $color-icon-primary;
        border-radius: 1rem;
        padding: 0.1rem 0.6rem;
    }
}
