.skills {
    &__group {
        margin-bottom: 0.8rem;
        text-align: center;

        & span {
            font-weight: 700;
            display: inline-block;

            &::after{
                content: ":"
            }

            &:hover ~ li {
                background-color: $color-primary;
                color: $color-light;
            }

        }

        & li{
            display: inline-block;
            font-size: 1.15rem;
            transition: all 0.2s ease-in-out;
            padding: 0 1px;
            border-radius: 2px;

            &:not(:last-child)::after{
                content: ", "
            }

            &:hover {
                background-color: $color-primary;
                color: $color-light;
            }
        }
    }
}